@model List<ebokScript.Models.messageScript>

@{
   
 
}

<div>
    <div class="bg-info text-center text-light">
        <h1>add new message</h1>
    </div>
    <div style="background-color:rgb(13 202 240 / 20%) ">
        <!--burada basit bir form olacak gönderenin ismi için textbox mesaj için textarea-->
        <form>
            <div class="form-group" style="opacity:1">
                <label for="exampleFormControlInput1">Name</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" name="name" placeholder="name">
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Message</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" name="message" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary" formaction="@Url.Action("SqlInsert")" formmethod="post">Submit</button>
           

        </form>
    </div>
    <div class="bg-info text-center text-light">
        <h1>messages</h1>
    </div>
    <div class="container bg-light">
        <div class="row">

            @{           
           if (Model != null)
            foreach (var item in Model){
            <div class="col-4 container text-center">
                
                            <div class="bg-info bg-opacity-75 p-3 text-light h4"> <p style="position:absolute; font-size:10px;" >#@item.id </p> @item.name </div>
                <div class="bg-info bg-opacity-25 p-3 mt-2 mb-2"> @item.message </div>
            </div>
            }
            }

        </div>
    </div>
</div>