@model pagesPratice.Models.book

<div>
    <div class="bg-info text-center text-light">
        <h1>update id:@Model.id name:@Model.book_name  book</h1>
    </div>
    <div style="background-color:rgb(13 202 240 / 20%) " class="container">
        <div class="text-center">
            <form style="display:inline-block">
                <div class="form-group text-center" style="opacity:1">
                    <label for="exampleFormControlInput1">Name</label>
                    <input type="text" class="form-control text-center" id="exampleFormControlInput1" name="name" placeholder="name">
                </div>
                <div class="form-group text-center align-content-center" style="opacity:1">
                    <label for="exampleFormControlInput2">author</label>
                    <input type="text" class="form-control text-center" id="exampleFormControlInput2" name="author" placeholder="author">
                </div>
                <div class="form-group text-center" style="opacity:1">
                    <label for="exampleFormControlInput3">summary</label>
                    <input type="text" class="form-control text-center" id="exampleFormControlInput3" name="p_summary" placeholder="summary">
                </div>
                <button type="submit" class="btn btn-primary" formaction="@Url.Action("updateAction")" formmethod="post">Submit</button>
            </form>
        </div>
    </div>
</div>